{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
	var nav = document.getElementById("navAdmin");
	nav.className += " active";
  nav.style.fontWeight = "bold";
</script>
<style>
</style>
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col">
			<h1 style="color:#254878;">Email Notifications</h1>
			<br/>
		</div>
    </div>
	<div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" onclick="resetForm()" data-target="#mFacility">
                Add New Facility
            </button>
        </div>
	</div>
	<br/>
	<div class="row">
		<div class="col">
      <div id="dFacility">
			<table class="table"  id="tblCodes">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Code</th>
						<th scope="col">Faclility Name</th>
            <th scope="col">Group</th>
            <th scope="col" colspan="1">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
          {% for c in fac_alt %}
					<tr>
						<th scope="row">
                {{ c['code'] }}
                <input type="hidden"  id="{{ c['code'] }}" value= "{{ c['code'] }}" />	
								
            </th>
            <td>
                {{ c['name'] }}
                <input type="hidden"  id="{{ c['code'] }}_name" value= "{{ c['name'] }}" />
            </td>
            <td id="{{ c['code'] }}_tdGroup">
              {{ c['group'] }}
          </td>
						<td>
              <a id='edit-user' href="#" onclick="edit_fac( '{{c['code']}}' )" >Edit</a>
            </td>
            <input type="hidden"  id="{{ c['code'] }}_group" value= "{{ c['group'] }}" />
					</tr>
					{% endfor %}
				</tbody>
			</table>
    </div>
  </div>
  </div>
  <br/>
  <br/>
  <div class="row">
      <div class="col-sm-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" onclick="resetFormG()" data-target="#mGroup">
              Add New Group
          </button>
      </div>
</div>
<br/>
<div class="row">
<br/>
	<div class="col">
  <div id="dGroup">
    <table class="table"  id="tblGroups">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th scope="col">Email Addresses</th>
          <th scope="col">Notify</th>
          <th scope="col" colspan="1">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for c in mng %}
        <tr>
          <th scope="row">
              {{ c['codeG'] }}
              <input type="hidden"  id="{{ c['codeG'] }}_gCode" value= "{{ c['codeG'] }}" />	            
          </th>
          <td>
              {{ c['desc'] }}
              <input type="hidden"  id="{{ c['codeG'] }}_desc" value= "{{ c['desc'] }}" />
          </td>
          <td class="">
            {{ c['email'] }}
            <input type="hidden"  id="{{ c['codeG'] }}_emailG" value= "{{ c['email'] }}" />	
        </td>
          <td>
              {{ c['notify'] }}
              <input type="hidden"  id="{{ c['codeG'] }}_send" value= "{{ c['notify'] }}" />	
          </td>
          <td>
            <a id='edit-user' href="#" onclick="edit_group( '{{c['codeG']}}' )" >Edit</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  </div>
</div>

<!-- ADD FACILITY MODAL -->
<div id="mFacility" class="modal fade" tabindex="-1" role="dialog">
<form id="frmFac" ></form>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="mtCode">Add Faclility</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="pName"></p>
        <div class="form-group row">
          <label for="txtFac" class="col-sm-3 col-form-label">Facility Code</label>
          <div class="col-sm-9">
            <input id="txtFac" type="text"  />
            <input id="txtFacVal" type="hidden"  />
          </div>
        </div>

      <div class="form-group row">
        <label for="selMNG" class="col-sm-3 col-form-label">MM Group</label>
        <div class="col-sm-9">
          <select class="notify" id="selMNG" name="selMNG" >
            <option value=""></option>
            {% for c in mng %}
            <option value="{{ c['codeG'] }}">{{ c['codeG'] }}</option>
            {% endfor %}
        </select>
        </div>
      </div>
      <p id="errMsg" style="font-weight: bold; color:red"></p>

      <div id="dAddress" style="display:none">
        <hr />
        <div class="form-group row ">
            <div class="col-sm-7">
              <label for="txtAddAddress" class="">Email Address</label>
              <input type="text"  class="form-control form-control-sm" id="txtAddAddress" name="txtAddress" placeholder="" />
            </div>
            <div class="col-sm-1">
              <label for="cbARX" class="">ARX</label>
              <input type="checkbox"  class="form-control form-control-sm" id="cbARX" name="cbAUX" placeholder="" />
            </div>
            <div class="col-sm-1">
              <label for="cbIOU" class="">IOU</label>
              <input type="checkbox"  class="form-control form-control-sm" id="cbIOU" name="cbIOU" placeholder="" />
            </div>
            <div class="col-sm-1">
              <label for="cbBilling" class="">Billing</label>
              <input type="checkbox"  class="form-control form-control-sm" id="cbBilling" name="cbBilling" placeholder="" />
            </div>
            <div class="col-sm-1">
              <label for="btnAddAddress" class=""></label>
              <button class="btn btn-sm" id="btnAddAddress" onclick="addAddress()">Add</button>
            </div>
        </div>

        <table class="table table-striped" id="tblSearch">
          <thead class="">
              <tr class="table-primary">
                  <th scope="col">Address</th>
                  <th scope="col">ARX</th>
                  <th scope="col">IOU</th>
                  <th scope="col">Billing</th>
                  <!-- <th scope="col"></th> -->
              </tr>
          </thead>
          <tbody id="tbAddress">
          </tbody>
      </table>
      </div>

      <input type="hidden" id="op-code" name="op-code"/>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="save_addresses()" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-light" onclick="checkUpdate()" >Cancel</button>
        <div>
        </div>
      </div>
    </div>
  </div>
 </form>
</div>
<!-- ADD Group MODAL -->
<div id="mGroup" class="modal fade" tabindex="-1" role="dialog">
  <form id="frmFac" ></form>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="mtGroup">Add Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="selMNG" class="col-sm-2 col-form-label">MNG Code</label>
            <div class="col-sm-10">
              <input id="txtMNG" type ='text' />
          </div>
        </div>
        <div class="form-group row">
          <label for="txtDescG" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input id="txtDescG" type ='text'  size="36" />
        </div>
      </div>
      <div class="form-group row">
        <label for="txtEmailG" class="col-sm-2 col-form-label">Email Addresses</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="txtEmailG" id="txtEmailG"  rows="4" cols="50" ></textarea>
        </div>
        </div>
      <div class="form-group row">
        <div class="col-sm-2" id="tNotifyG">Send Notifications</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="cNotifyG" name="cNotifyG">		
              <input type="hidden" id="code-id" name="code-id"/>
            </div>
          </div>
        </div>
        <input type="hidden" id="op-codeG" name="op-codeG"/>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="validateFormG()" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <div>
          <p id="errMsgG" style="font-weight: bold; color:red"></p>
          </div>
        </div>
      </div>
    </div>
   </form>
  </div>
<script type="text/javascript">
  let changed = false;
  $(function(){
    $(document).on( 'change', '.notify', function(){
          changed = true;
    } );
  })

function edit_fac(code) {
        console.log($("#" + code + "_group").val());
        getAddresses(code);
        changed = false;
        $('#errMsg').html("");
        $('#mFacility').modal('show');
        $("#dAddress").show();
        $('#code-id').val(code); ;
        $('#op-code').val("edit");     
        $('#pName').html( $("#" + code + "_name").val());   
        $('#txtFac').val(code);
        $('#txtFac').prop('disabled', 'disabled');
        $('#txtFacVal').val(code.trim());
        $('#selMNG').val($("#" + code + "_group").val());
        $('#errMsg').val("");
        $('#mtCode').html("Edit  Facililty");

    }
	
function delete_code(code, desc, cat_code,category) {		
        $('#delUser').modal('show');
        $('#delUser #op-code').val('delete');
        $('#delUser #del_code').val(code);
        $('#delUser #delUserName').html(desc);
        $('#delUser #delCategory').html(category)
        $('#delUser #delCatCode').val(cat_code);
    }
    
function resetForm(){
        $('#mtCode').html('Add New Facility');
        $("#dAddress").hide();
        $('#code-id').val("");
        $('#op-code').val("insert");      
        $('#txtDesc').val("");
        $('#selMNG').val("");
        $('#txtFac').val("");
        $('#txtFac').prop('disabled', false);
        $('#cNotify').prop('checked', true);
        $('#errMsg').html("");
        $('#mtCode').html("Add Facility");
    }

function validateForm(){
        $('#errMsg').html("");
        let opcode = $('#op-code').val(); 
        let code =  $('#txtFac').val();   
        let group = $('#selMNG').val();
        let notify = 1;
        let email = "";
        console.log(opcode);
        let msg = "";

        if (code.trim() == "") {
            msg += 'A facility code is required<br />';
        }

        if (msg !== "") {
            $('#errMsg').html(msg);
            return false;
        }
        else{
            if ($("#cNotify").prop("checked") == true){
              notify = 1
            }
            else {
              notify = 0
          } 
        }
        
          $.ajax({
              type: "POST",
              url: "{{url_for('admin_iou_notify')}}",
              dataType: 'json',
              data: {
                  'code': code.trim()
                  ,'group' : group.trim()
                  ,'op-code': opcode
                  ,'p_type' : 'facility'
              },
              async: false,
              success: function (data) {
              },
              complete: function (data) {
                  location.reload();
            }
          });
          return true;
    }

function getAddresses(fac_code){
  let html = "";
  $.ajax({
    data: {
        sql: `SELECT ID
            ,ADDRESS
            ,ARX
            ,IOU
            ,Billing
            FROM FAC_EMAIL
            WHERE FAC_CODE= '` + fac_code + `'`        
    },
    type: 'POST',
    url: '/getAddresses',
    dataType: 'json'
})
.done(function (data) {
    $.each(data, function (index, item) {
        let id = item.ID
        let address= item.ADDRESS;
        let arx = item.ARX== 1? 'checked': '';
        let iou= item.IOU== 1? 'checked': '';
        let billing = item.Billing== 1? 'checked':'';
        console.log("ARX: " + arx + "," + id);
        html += '<tr id="' + id + '"><td rel="' + address + '"><input type="text" id="' + id +'_address"  class="address notify" value="' + address + '"/></td>';
        html += '<td rel="' + arx + '" id="'+ id +'_arx_td" ><input type="checkbox" id="' + id +'_arx"  ' + arx + ' class="arx notify" /></td>';
        html += '<td rel="' + iou+ '" id="'+ id +'_iou_td" ><input type="checkbox" id="' + id +'_iou"  ' + iou + '  class="iou notify"/></td>';
        html += '<td rel="' + billing + '" id="'+ id +'_billing_td" ><input type="checkbox" id="' + id +'_billing"  ' + billing + '  class="billing  notify"/></td>';
    });
    $("#tbAddress").html(html);
});
}

function save_addresses(){
  if ($('#op-code').val().trim() == "insert"){
    validateForm();
  }
  else {
    var data = [];
    $("#tbAddress").find('tr').each(function (rowIndex, r) {
        let cols = [];
        cols.push($(this).attr("id")); 
        data.push(cols);
    });
    //console.log(data);
    $.each( data, function( k, v ) {

      let id='', address='',arx='',iou='', billing=''
      $.each( v, function( k, v ) {
        //console.log( k+ ": " + v );
        id = v
        address = $('#' + id + '_address').val();
        arx = $('#' +id + '_arx').is(":checked")? '1': '0' ;
        iou = $('#' +id + '_iou').is(":checked")? '1': '0' ;
        billing = $('#' +id + '_billing').is(":checked")? '1': '0' ;
      });

      let sql = `UPDATE FAC_EMAIL\n`
      sql +=` SET ADDRESS='` + address + `'\n`
      sql += `,ARX=` + arx  + `\n`
      sql += `,IOU=` + iou  + `\n`
      sql +=`,Billing=` + billing + `\n`
      sql +=` WHERE ID=` + id;

        $.ajax({
            type: "POST",
            url: "{{url_for('updateRx')}}",
            dataType: 'json',
            data: {
                'sql': sql
            },
            async: false,
            success: function (data) {
              
            },
            complete: function (data) {

          }
      });

    });

    saveGroup($('#txtFacVal').val());
    changed = false;

  }
}

function saveGroup(fac_code){
  let group = $('#selMNG').val();
  let sql = `UPDATE FAC_ALT `;
        sql += ` SET MNG = '` + group  + `'`;
        sql += ` WHERE DCODE = '`  + fac_code + `'`;
  console.log(sql);

  $.ajax({
    type: "POST",
    url: "{{url_for('updateRx')}}",
    dataType: 'json',
    data: {
        'sql': sql
    },
    async: false,
    success: function (data) {

    },
    complete: function (data) {
     
  }
});
$("#" + fac_code + "_tdGroup").text(group);
$("#" + fac_code + "_group").val(group);
}

function addAddress(){
    let address = $('#txtAddAddress').val().trim();
    if (!isEmail(address)){
      alert("The email address is not in a valid format")
      return false;
    }

    let fac_code = $('#txtFacVal').val().trim();
    let arx = $('#cbARX').is(":checked")? '1': '0';
    let iou = $('#cbIOU').is(":checked")? '1': '0';
    let billing = $('#cbBilling').is(":checked")? '1': '0';

    let sql = "INSERT INTO FAC_EMAIL (FAC_CODE,ADDRESS, ARX, IOU, Billing)"
        sql +=" VALUES('" + fac_code + "', '" + address + "', "+ arx + " , " + iou + ", "+ billing +")";
    console.log(sql);

    $.ajax({
        type: "POST",
        url: "{{url_for('updateRx')}}",
        dataType: 'json',
        data: {
            'sql': sql
        },
        async: false,
        success: function (data) {
          
        },
        complete: function (data) {

      }
    });
    $("#cbARX").prop("checked", false);
    $("#cbIOU").prop("checked", false);
    $("#cbBilling").prop("checked", false);
    $('#txtAddAddress').val("");
    getAddresses(fac_code);

}

function checkUpdate(){
  if(changed){
    var r = confirm("Do you want to leave before saving?");
    if (r == true) {
      $('#mFacility').modal('hide');
    } else {
      return false
    } 
  }
  else{
    $('#mFacility').modal('hide');
  }

}

function edit_group(codeG){
  $('#mtCode').html("Update Group");
  $('#mtGroup').html("Update Group");
  console.log($("#" + codeG + "_send").val().trim());
  let stat = $("#" + codeG + "_send").val().trim() == "True" ? true : false;
  $('#errMsgG').html("");
  $('#mGroup').modal('show');
  $('#code-idG').val(codeG); 
  $('#op-codeG').val("edit");     
  $('#txtMNG').val(codeG);
  $('#txtDescG').val( $("#" + codeG + "_desc").val());
  let emails = $("#" + codeG + "_emailG").val().split(';');
  console.log ("e:" + emails);
  $('#txtEmailG').val("");
  for (i = 0; i < emails.length; i++) { 
    document.getElementById('txtEmailG').value += emails[i] + "\n";
  }
  removeTextAreaWhiteSpace('txtEmailG');
  $('#cNotifyG').prop('checked', stat);
}

function resetFormG(){
  $('#mtGroup').html('Add New Group');
  $('#code-idG').val("");
  $('#op-codeG').val("insert");      
  $('#txtMNG').val("");
  $('#txtEmailG').val("");
  $('#txtDescG').val("");
  $('#cNotifyG').prop('checked', true);
  $('#errMsgG').html("");
  $('#mtCode').html("Add New Group");
}

function validateFormG(){
  $('#errMsg').html("");
  let opcode = $('#op-codeG').val(); 
  let code =  $('#txtMNG').val();   
  let lines = $('#txtEmailG').val().split('\n');
  let  desc = $('#txtDescG').val();
  let notify = 1;
  let email = "";
  console.log(opcode);
  let msg = "";
  
if ( $('#txtEmailG').val().trim() == "" ) {
    msg += "At least one email address is required<br />";
}

  let line = ""
  for(var i = 0;i < lines.length;i++){
      line = lines[i].trim();
      if (isEmail(line) ) {
          email += line + ";";
      }
      else {
        msg+= '"'+ line + '" is not a valid email address<br />'; 
      }
  }

  if (code.trim() == "") {
      msg += 'An MNG group code is required<br />';
  }

  if (msg !== "") {
      $('#errMsgG').html(msg);
      return false;
  }
  else{
      if ($("#cNotifyG").prop("checked") == true){
        notify = 1
      }
      else {
        notify = 0
    } 
  }
  
    $.ajax({
        type: "POST",
        url: "{{url_for('admin_iou_notify')}}",
        dataType: 'json',
        data: {
            'code': code
            ,'email': email
            ,'notify': notify
            ,'desc' : desc
            ,'op-code': opcode
            ,'p_type' : 'group'
        },
        async: false,
        success: function (data) {
        },
        complete: function (data) {
            location.reload();
      }
    });
    return true;
}

</script>

{% endblock %}