{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
	var nav = document.getElementById("navIOUProcess");
	nav.className += " active";
    nav.style.fontWeight = "bold";

</script>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
    	<h1 style="color:#254878;">IOU Process</h1>
    	<br/>
    </div>
  </div>
  <div class="row">
      <form name="processIOU" id="processIOU" action="{{url_for('iou_processing')}}" method="POST">
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">Facility</th>
                    <th scope="col">Batch</th>
                    <th scope="col">KOP</th>
                    <th scope="col">Name</th>
                    <th scope="col">Medication</th>
                    <th scope="col">Fill Qty</th>
                    <th scope="col">Fill Date</th>
                    <th scope="col">Tech</th>
                    <th scope="col">Status</th>
                    <th scope="col">IOU Qty</th>
                    <th scope="col">IOU Fill</th>
                    <th scope="col" colspan="2">Process IOU</th>
                    <input type="hidden" value"test" name="t" id="t"/>
                    <input type="hidden" value"test" name="t" id="t"/>
                </tr>
            </thead>
            <tbody>
                {% for v in iou_items %}
                <tr>
                    <td>
                        {{ v['facility'] }}
                        <input type="hidden" value="{{v['facility']}}" id="{{ v['id'] }}_facility" name="{{ v['id'] }}_facility"/>
                    </td>
                    <td>
                        {{ v['del_bat_id'] }}
                        <input type="hidden" value="{{v['del_bat_id']}}" id="{{ v['id'] }}_delbatid" name="{{ v['id'] }}_delbatid"/>
                    </td>
                    <td>
                        {{ v['kop'] }}
                        <input type="hidden" value="{{v['kop']}}" id="{{ v['id'] }}_kop" name="{{ v['id'] }}_kop"/>
                    </td>
                    <td>
                        {{ v['name'] }}
                        <input type="hidden" value="{{v['name']}}" id="{{ v['id'] }}_name" name="{{ v['id'] }}_name"/>
                    </td>
                    <td>
                        {{v['drg_dname']}} - {{v['drg_strength']}}
                        <input type="hidden" value="{{v['drg_dname']}}" id="{{ v['id'] }}_drgdname" name="{{ v['id'] }}_drgdname"/>
                        <input type="hidden" value="{{v['drg_strength']}}" id="{{ v['id'] }}_drgstrength" name="{{ v['id'] }}_drgstrength"/>
                    </td>
                    <td>
                        {{ v['fill_qty'] }} 
                        <input type="hidden" value="{{v['fill_qty']}}" id="{{ v['id'] }}_fillqty" name="{{ v['id'] }}_fillqty"/>
                    </td>
                    <td>
                        {{ v['fill_date'] }} 
                        <input type="hidden" value="{{v['fill_date']}}" id="{{ v['id'] }}_filldate" name="{{ v['id'] }}_filldate"/>
                    </td>
                    <td>
                        {{ v['initials'] }}
                        <input type="hidden" value="{{v['initials']}}" id="{{ v['id'] }}_initials" name="{{ v['id'] }}_initials"/>
                    </td>
                    <td>
                        {{ v['stat_desc'] }}
                        <input type="hidden" value="{{v['stat_desc']}}" id="{{ v['id'] }}_statdesc" name="{{ v['id'] }}_statdesc"/>
                    </td>
                    <td>
                        {{ v['iou_qty'] }} 
                        <input type="hidden" value="{{v['iou_qty']}}" id="{{ v['id'] }}_iouqty" name="{{ v['id'] }}_iouqty"/>
                    </td>
                    <td>
                        {{ v['iou_comp'] }} 
                        <input type="hidden" value="{{v['iou_comp']}}" id="{{ v['id'] }}_ioucomp" name="{{ v['id'] }}_ioucomp"/>
                    </td>
                    <td>
                        <button id="{{ v['id'] }}_btnClear"
                        {{ update_role }}
                        class="btn btn-primary btn-sm btnFormSubmit" type="button" value="{{ v['id'] }}"  
                        name="clear_button" >Close</button>
                    </td>
                    <td>
                        <button id="{{ v['id'] }}_btnReprint" class="btn btn-primary btn-sm btnReprint" type="submit" value="{{ v['id'] }}"  
                        name="submit_button" >Reprint</button>
                    </td>
                </tr>
                {% endfor %}							
            </tbody>
        </table>
        <input type="hidden" value="" name="valSubmit" id="valSubmit" />
        </form>				
    </div>
</div> 	
<script type="text/javascript">


    function openDialog(id, err){
        $("#mMedication").text("[" + $("#" + id + "_drgdname").val() + " - " + $("#" + id + "_drgstrength").val() + "]");
        $("#mIouQty").text($("#" + id + "_iouqty").val());
        $("#mIouComp").text($("#" + id + "_ioucomp").val());
        var rem_qty = Number($("#" + id + "_iouqty").val()) - Number($("#" + id + "_ioucomp").val());
        $("#mfillVal").val(rem_qty);
        $("#mIdSubmit").val(id);
        $("#pError").text(err);

        $('#processModal').modal('show');
    }

    $('.btnFormSubmit').click(function(e) {
        var id = $(this).val();
        //$('#processModal').modal('show');
        openDialog(id, "");
        e.preventDefault();
    });

    $('.btnReprint').click(function(e) {
        id = $(this).val();
        batch = $("#" + id + "_delbatid").val();
        facility = $("#" + id + "_facility").val();
        kop = $("#" + id + "_kop").val();
        name = $("#" + id + "_name").val();
        medication = $("#" + id + "_drgdname").val() + " - " + $("#" + id + "_drgstrength").val();
        org_qty = $("#" + id + "_fillqty").val();
        iou_qty = $("#" + id + "_iouqty").val();
        user = $("#" + id + "_pharmtech").val();
        fill_date = $("#" + id + "_filldate").val();
        console.log(id, batch, facility, medication, org_qty, iou_qty,fill_date);
        $.ajax({
            type: "POST",
            url: "{{url_for('iou_reprint')}}",
            dataType: 'json',
            data: {
                'id' : id
                ,'batch' : batch
                ,'kop' : kop
                ,'name' : name
                ,'facility' : facility
                ,'medication' : medication
                ,'org_qty' : org_qty
                ,'iou_qty' : iou_qty
                ,'fill_date' : fill_date
                ,'user' : user
            },
            async: false,
            success: function (data) {
                $.each(data, function (index, item) {
                });
            },
            complete: function (data) {
                window.open("static/pdf/" + id + ".pdf", '_blank')
            }

        });
        e.preventDefault();
    });
    
    $(document).on("click", "#btnSaveProcess", function(event){
        alert("Clicked");
    });

    function submit(id, qty, result) {
        if (result) {
            var iou_qty = $("#" + id + "_iouqty").val();
            var iou_comp = $("#" + id + "_ioucomp").val();
            var rem_qty = Number(iou_qty) - Number(iou_comp);
            alert(qty);
            //$("#valSubmit").val(id);
            //$("#processIOU").submit();
            console.log("Result: " + result);
            //not_processing = false;
            return true
        }
        else{
            console.log("Result: " + result);
            //not_processing = false;
            return false
        }
    }
</script>
<input type="hidden" value="" id="idSubmit" />
<div class="modal" tabindex="-1" role="dialog" id="processModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Close IOU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Do you want to close the IOU for <span id="mMedication"></span><br />
                Total IOU Quantity: <span id="mIouQty"></span> with <span id="mIouComp"></span> Filled
                </p>

                <p>
                Quantity to Fill: <input style='text-align: right' size='6' type='text'  id='mfillVal' /> 
                (A partial qty will keep the IOU open)
                </p>

                <p>
                    Close without completing <input  type='checkbox' id='cbIOU' name='cbIOU' />
                </p>

                <p style='color:red; font-weight:bold' id="pError">
                </p>
                <input type="hidden" id="mIdSubmit" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveProcess">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ERROR MODAL -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title">ERROR:</h5>
        <button type="button" class="close" id="btnErrorCancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="form-group row">
			<div class="col-sm-10">
			<span id="errorText" style=""></span>
			</div>
      </div>
      <div class="modal-footer">		
        <a href="/iou" class="btn btn-light" >CANCEL</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


