{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
	var nav = document.getElementById("navIOUProcess");
	nav.className += " active";
    nav.style.fontWeight = "bold";

</script>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col">
    	<h1 style="color:#254878;">IOU Process</h1>
    	<br/>
    </div>
  </div>
  <div class="row">
      <form name="processIOU" id="processIOU" action="{{url_for('iou_processing')}}" method="POST">
        <table class="table table-responsive table-hover">
            <thead class="thead">
                <tr>
                    <th scope="col">Facility</th>
                    <th scope="col">Batch</th>
                    <th scope="col">KOP</th>
                    <th scope="col">Name</th>
                    <th scope="col">Medication</th>
                    <th scope="col">Fill Qty</th>
                    <th scope="col">Fill Date</th>
                    <th scope="col">Tech</th>
                    <th scope="col">Status</th>
                    <th scope="col">IOU Qty</th>
                    <th scope="col">IOU Fill</th>
                    <th scope="col" colspan="2">Process IOU</th>
                </tr>
            </thead>
            <tbody>
                {% for iou, v in iou_items['IOU'].items() %}
                <tr style="background-color: #fbfbfe">
                    <td class="clickable" data-toggle="collapse" data-target="#{{ v['iou_id'] }}_details" aria-expanded="true" aria-controls="{{ v['iou_id'] }}_details">
                        {{ v['facility'] }}
                        <input type="hidden" value="{{v['facility']}}" id="{{ v['iou_id'] }}_facility" name="{{ v['iou_id'] }}_facility"/>
                    </td>
                    <td>
                        {{ v['del_bat_id'] }}
                        <input type="hidden" value="{{v['del_bat_id']}}" id="{{ v['iou_id'] }}_delbatid" name="{{ v['iou_id'] }}_delbatid"/>
                    </td>
                    <td>
                        {{ v['kop'] }}
                        <input type="hidden" value="{{v['kop']}}" id="{{ v['iou_id'] }}_kop" name="{{ v['iou_id'] }}_kop"/>
                    </td>
                    <td>
                        {{ v['name'] }}
                        <input type="hidden" value="{{v['name']}}" id="{{ v['iou_id'] }}_name" name="{{ v['iou_id'] }}_name"/>
                    </td>
                    <td>
                        {{v['drg_dname']}} - {{v['drg_strength']}}
                        <input type="hidden" value="{{v['drg_dname']}}" id="{{ v['iou_id'] }}_drgdname" name="{{ v['iou_id'] }}_drgdname"/>
                        <input type="hidden" value="{{v['drg_strength']}}" id="{{ v['iou_id'] }}_drgstrength" name="{{ v['iou_id'] }}_drgstrength"/>
                    </td>
                    <td>
                        {{ v['fill_qty'] }} 
                        <input type="hidden" value="{{v['fill_qty']}}" id="{{ v['iou_id'] }}_fillqty" name="{{ v['iou_id'] }}_fillqty"/>
                    </td>
                    <td>
                        {{ v['fill_date'] }} 
                        <input type="hidden" value="{{v['fill_date']}}" id="{{ v['iou_id'] }}_filldate" name="{{ v['iou_id'] }}_filldate"/>
                    </td>
                    <td>
                        {{ v['initials'] }}
                        <input type="hidden" value="{{v['initials']}}" id="{{ v['iou_id'] }}_initials" name="{{ v['iou_id'] }}_initials"/>
                        <input type="hidden" value="{{v['pharm_tech']}}" id="{{ v['iou_id'] }}_pharmtech" name="{{ v['iou_id'] }}_initials"/>
                    </td>
                    <td>
                        {{ v['stat_desc'] }}
                        <input type="hidden" value="{{v['stat_desc']}}" id="{{ v['iou_id'] }}_statdesc" name="{{ v['iou_id'] }}_statdesc"/>
                    </td>
                    <td>
                        {{ v['iou_qty'] }} 
                        <input type="hidden" value="{{v['iou_qty']}}" id="{{ v['iou_id'] }}_iouqty" name="{{ v['iou_id'] }}_iouqty"/>
                    </td>
                    <td>
                        {{ v['iou_comp'] }} 
                        <input type="hidden" value="{{v['iou_comp']}}" id="{{ v['iou_id'] }}_ioucomp" name="{{ v['iou_id'] }}_ioucomp"/>
                        
                    </td>
                    <td>
                        <button id="{{ v['iou_id'] }}_btnClear"
                        {{ update_role }}
                        class="btn btn-primary btn-sm btnFormSubmit" type="button" value="{{ v['iou_id'] }}"  
                        name="clear_button" >Close</button>
                    </td>
                    <td>
                        <button id="{{ v['iou_id'] }}_btnReprint" class="btn btn-primary btn-sm btnReprint" type="submit" value="{{ v['iou_id'] }}"  
                        name="submit_button" >Reprint</button>
                    </td>
                </tr>
                <tbody id="{{ v['iou_id'] }}_details" class="collapse">
                        <tr>
                            <th>Type</th>
                            <th>User</th>
                            <th>Qty</th>
                            <th>Date</th>
                        </tr>
                    {% for k,v in v.items() %}
                    {%if k is number%}
                    <tr style="background-color: white;">
                        <td>{{ v['trans_type'] }}</td>
                        <td>{{ v['username'] }}</td>
                        <td>{{ v['add_qty'] }}</td>
                        <td>{{ v['trans_date'] }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                {% endfor %}							
            </tbody>
        </table>
        <input type="hidden" value="" name="valSubmit" id="valSubmit" />
        </form>				
    </div>
</div> 	
<script type="text/javascript">


    function openDialog(id, err){
        $("#mMedication").text("[" + $("#" + id + "_drgdname").val() + " - " + $("#" + id + "_drgstrength").val() + "]");
        $("#mIouQty").text($("#" + id + "_iouqty").val());
        $("#mIouComp").text($("#" + id + "_ioucomp").val());
        var rem_qty = Number($("#" + id + "_iouqty").val()) - Number($("#" + id + "_ioucomp").val());
        $("#mfillVal").val(rem_qty);
        $("#mIdSubmit").val(id);
        $("#pError").text(err);

        $('#processModal').modal('show');
    }

    $('.btnFormSubmit').click(function(e) {
        var id = $(this).val();
        //$('#processModal').modal('show');
        openDialog(id, "");
        e.preventDefault();
    });

    $('.btnReprint').click(function(e) {
        id = $(this).val();
        batch = $("#" + id + "_delbatid").val();
        facility = $("#" + id + "_facility").val();
        kop = $("#" + id + "_kop").val();
        name = $("#" + id + "_name").val();
        medication = $("#" + id + "_drgdname").val() + " - " + $("#" + id + "_drgstrength").val();
        org_qty = $("#" + id + "_fillqty").val();
        iou_qty = $("#" + id + "_iouqty").val();
        user = $("#" + id + "_pharmtech").val();
        fill_date = $("#" + id + "_filldate").val();
        console.log(id, batch, facility, medication, org_qty, iou_qty,fill_date);
        $.ajax({
            type: "POST",
            url: "{{url_for('iou_reprint')}}",
            dataType: 'json',
            data: {
                'id' : id
                ,'batch' : batch
                ,'kop' : kop
                ,'name' : name
                ,'facility' : facility
                ,'medication' : medication
                ,'org_qty' : org_qty
                ,'iou_qty' : iou_qty
                ,'fill_date' : fill_date
                ,'user' : user
            },
            async: false,
            success: function (data) {
                $.each(data, function (index, item) {
                });
            },
            complete: function (data) {
                window.open("static/pdf/" + id + ".pdf", '_blank')
            }

        });
        e.preventDefault();
    });
    
    $(document).on("click", "#btnSaveProcess", function(event){
        //alert("Clicked");
        id =  $("#mIdSubmit").val();
        submit(id, 0, true);

    });

    function submit(id, qty, result) {
        if (result) {
            $('#processModal').modal('hide');
            var err_msg = "", status= "";
            var iou_qty = Number($("#" + id + "_iouqty").val());
            var iou_comp = Number($("#" + id + "_ioucomp").val());
            var rem_qty = iou_qty - iou_comp;
            var add_qty = $("#mfillVal").val();
            var uf_close = $("#cbIOU").prop("checked");
            var user = $.trim($(".curr_user").text());

            if ($.isNumeric(add_qty) != true) {
                err_msg = "A valid numeric value must be entered";
            }
            else if (Number(add_qty) > rem_qty) {
                err_msg = "You cannot add more than the remaining qty for the IOU"
            }
            else if (uf_close && add_qty >= rem_qty) {
                err_msg = "Only check box if qty to send is less than the remaining qty"
            }
            else {
                add_qty = Number($("#mfillVal").val());
            }

            if (err_msg != ""){
                openDialog(id, err_msg);
                return false;
            }

            if (uf_close) {
                status = 'IC'
            }
            else if (add_qty == rem_qty){
                status = 'IF'
            }
            else if (add_qty < rem_qty){
                status = 'IP'
            }
            
            console.log(iou_qty, iou_comp, rem_qty, add_qty, user);
            
            $.ajax({
                type: "POST",
                url: "{{url_for('iou_processing')}}",
                dataType: 'json',
                data: {
                    'iou_id': id
                    ,'add_qty': add_qty
                    ,'status': status
                    ,'user': user
                },
                async: false,
                success: function (data) {
                },
                complete: function (data) {
                    location.reload();
                }
            });
            
            
            //$("#valSubmit").val(id);
            //$("#processIOU").submit();
            return true
        }
        else{
            console.log("Result: " + result);
            //not_processing = false;
            return false
        }
    }
</script>
<input type="hidden" value="" id="idSubmit" />
<div class="modal" tabindex="-1" role="dialog" id="processModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Close IOU or add completed quantity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                <span id="mMedication"></span><br />
                Total IOU Quantity: <span id="mIouQty"></span> with <span id="mIouComp"></span> Filled
                </p>

                <p>
                Quantity to Fill: <input style='text-align: right' size='6' type='text'  id='mfillVal' /> 
                (A partial qty will keep the IOU open)
                </p>

                <p>
                    Close without completing <input  type='checkbox' id='cbIOU' name='cbIOU' />
                </p>

                <p style='color:red; font-weight:bold' id="pError">
                </p>
                <input type="hidden" id="mIdSubmit" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveProcess">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- ERROR MODAL -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title">ERROR:</h5>
        <button type="button" class="close" id="btnErrorCancel" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="form-group row">
			<div class="col-sm-10">
			<span id="errorText" style=""></span>
			</div>
      </div>
      <div class="modal-footer">		
        <a href="/iou" class="btn btn-light" >CANCEL</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


