{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
	var nav = document.getElementById("navProcessing");
	nav.className += " active";
	nav.style.fontWeight = "bold";
</script>

<div class="container">
	<div class="row">
		<div class="col">
			<h1 style="color:#254878;">Processing : {{ batch_id if batch_id and not errors else "" }}</h1>
			<input type="hidden" value="{{ errors }}" id="error_tuple" />
		</div>
	</div>

	<!-- BATCH INPUT & METADATA -->
	<div class="row">
		<div class="col">
			<span id="shipID"></span>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">BATCH</th>
						<th scope="col">FACILITY</th>
						<th scope="col">SHIP</th>
						<th scope="col">TECH</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
							<form name="batch-form" id="batch-form" action="{{ url_for('processing') }}" method="GET"
								autocomplete="off">
								<input type="text" autofocus="autofocus" name="batch-id" id="batch-id" required="true"
									{% if batch_id != None and not errors %}disabled=true{% endif %}
									value="{{ batch_id if batch_id and not errors else "" }}">
							</form>
						</th>
						<td class="{{ fac_status }}">{{ batch['facility'] }}</td>
						<td>{{ batch['ship'] }}</td>
						<td>{{ batch['tech'] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	{% if batch != None and errors == None %}
	<form name="processBatch" id="processBatch" action="{{url_for('processing')}}" method="POST">
		<div class="row">
			<div class="col">
				<div class="row" align="right">
					<div class="col">
						{% if no_sat_del %}
						<span id="lbNoSat" class="font-weight-bold bg-danger mr-3 pull-left px-4 " style="color: #ffffff">No Saturday Delivery for FedEx</span>
						{% endif %}
						<span id="lbUMT"></span>

						<span id="lbCount" class="font-weight-bold bg-warning mr-3"></span>
						<span class="font-weight-bold">Print &nbsp;</span><input id="cbPrint" name="cbPrint"
							type="checkbox" />
						&nbsp;&nbsp;
						<!-- <button id="btnFormSubmit" type="button" data-toggle="modal" data-target="#exceptionsModal" class="btn btn-dark frmSubmit">COMPLETE BATCH</button> -->
						<button id="btnFormSubmit" type="button" class="btn btn-primary frmSubmit">COMPLETE</button>
						<br />
						<br />
						<div class="row" align="right">
						<div class="col">
						<span class="font-weight-bold">Refill &nbsp;</span><input id="cbRefill" name="cbRefill" disabled
							type="checkbox" />
							&nbsp;&nbsp;
					    <span class="font-weight-bold">Stock &nbsp;</span><input id="cbStock" name="cbStock" disabled
							type="checkbox" />
						<br /><br />
						<span class="font-weight-bold">Scan Box Size </span><input id="txtBox" name="txtBox" type="text"
							disabled="disabled" class="mr-3" />
						<span class="font-weight-bold">Select Box Size </span>
						<select id="ddBox" name="ddBox" disabled>
							<option value="0"></option>
							<option value="9x7x2.5">9x7x2.5</option>
							<option value="9x7x5">9x7x5</option>
							<option value="9x7x7.5">9x7x7.5</option>
							<option value="10.5x8.5x7.375">10.5x8.5x7.375</option>
							<option value="12x10x7.75">12x10x7.75</option>
							<option value="16x11x10">16x11x10</option>
							<option value="18x12x9">18x12x9</option>
							<option value="18x12x12">18x12x12</option>
							<option value="18x18x12">18x18x12</option>
							<option value="20x16x16">20x16x16</option>
						</select>
						<br /><br />
						<button id="btnSendBox" name="btnSendBox"type="button" class="btn btn-sm btn-secondary mr-2" disabled="disabled" >
								SEND BOX</button>
						<span class="font-weight-bold">Multiple Boxes</span>
						<input id="cbMulti" name="cbMulti" type="checkbox"class="mr-5" />

						<span class="font-weight-bold">Special Info</span>
						<input id="txtCustom" name="txtCustom" type="text" disabled="disabled" class="" />
						<br />
						<span class="font-weight-bold">Shipping Code: </span>
							
						{% if batch != None and errors == None %}
						<span class="font-weight-bold" id="shippingCode">{{batch['ship']}}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<br />
		<!--Table for all facility items HDA-2019-09-24 -->
		<div class="row">
			<div class="col">

					Pending: <span class="pending">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				&nbsp;&nbsp;
				Rx Processed: <span class="rx-processed">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				&nbsp;&nbsp;
				Complete: <span class="complete">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				&nbsp;&nbsp;
				Reconciled: <span class="reconciled">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				&nbsp;&nbsp;
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">BATCH</th>
							<th scope="col">FACILITY</th>
							<th scope="col"></th>
							<th scope="col">P</th>
							<th scope="col">M</th>
							<th scope="col">S</th>
							<th scope="col">U</th>
							<th scope="col">OTHER</th>
							<th scope="col">TECH</th>
							<th scope="col">SHIP</th>
							<th scope="col">RX</th>
							<th scope="col">FILL DATE</th>
							<th scope="col">NEW</th>
							<th scope="col">EXCEPTION</th>

						</tr>
					</thead>
					<tbody>
						{% for f in facility_items %}
						<tr style="text-align:center; background-color:{{ f['bg'] }}">
							<th scope="row"
								{% if current_user.is_authenticated and session['role'] == 'Administrator' %}
								onClick='get_batch_detail({{ f['del_bat_id'] }});' {% endif %}>{{ f['del_bat_id'] }}
							</th>
							<td style="background-color:{{ f['color'] }}">{{ f['facility'] }}</td>
							<td>{{ f['total'] }}</td>
							<td>{{ f['p'] }}</td>
							<td>{{ f['m'] }}</td>
							<td>{{ f['s'] }}</td>
							<td>{{ f['u'] }}</td>
							<td>{{ f['o'] }}</td>
							<td>{{ f['tech']  }}</td>
							<td>{{ f['ship'][0:3] }}</td>
							<td>{{ f['rx'] }}</td>
							<td>{{ f['fil_date'] }}</td>
							<td style="font-weight:bold">{% if f['new'] > 0 %}Y{% else %}{% endif %}</td>
							<td style="font-weight:bold;">{{ f['exception'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<!--End table HDA-2019-09-24 -->
		<!-- PROCESSING ACCORDION -->
		<div class="accordion" id="accordion">
			<input type="hidden" id="ship_id" name="ship_id" />
			<input type="hidden" value="{{batch['facility']}}" id="facility" name="facility" />
			<input type="hidden" value="{{batch['ship']}}" id="ship" name="ship" />
			<input type="hidden" value="{{batch['ship']}}" id="shipOrg" name="shipOrg" />
			<input type="hidden" value="{{batch['tech']}}" id="tech" name="tech" />
			<input type="hidden" value="{{batch_id}}" id="batch_id" name="batch_id" />
			<input type="hidden" value="{{ bat_total }}" id="bat_total" name="bat_total" />
			<input type="hidden" id="batch_complete_code" name="batch_complete_code" />
			{% for kop, rx in batch['KOP'].items() %}
			<!-- <div class="card" id="details" style="display: none;"> -->
			<div class="card" id="details" >
				<div class="card-header" id="headingOne">
					<h4 class="mb-0">
						<button class="btn btn-link"
							style="text-decoration: none !important;font-weight: bold; color:#254878"
							type="button" data-toggle="collapse" data-target="#collapse_{{kop}}"
							aria-expanded="true" aria-controls="collapseOne">
							{{ kop }} &nbsp;&nbsp; TOTAL PATIENTS: {{rx['patTotal']}} &nbsp; RX COUNT:
							{{rx['rxTotal']}}
						</button>
						<span style="position:relative;float:right;vertical-align:middle;"><input
								type="checkbox" id="{{kop}}_toggle" name="{{kop}}_toggle" checked="true"
								onclick="selectAll('{{kop}}');"></span>
					</h4>

				</div>
				<div id="collapse_{{kop}}" class="collapse" aria-labelledby="headingOne"
					data-parent="#accordion">
					<div class="card-body">
						<table class="table table-striped">
							<thead class="thead">
								<tr>
									<th scope="col">NAME</th>
									<th scope="col">MEDICATION</th>
									<th scope="col">QTY</th>
									<th scope="col">PRESENT</th>
								</tr>
							</thead>
							<tbody>
								{% for k,v in rx.items() %}
								{% if k != "rxTotal" and k != "patTotal" %}
								<tr>
									<th scope="row">
										{{ v['name'] }}
										<input type="hidden" value="{{v['name']}}" id="{{ v['id'] }}_name"
											name="{{ v['id'] }}_name" />
									</th>
									<td>
										{{v['drg_name']}} - {{v['drg_strength']}}
										<input type="hidden" value="{{v['drg_name']}}"
											id="{{ v['id'] }}_drgname" name="{{ v['id'] }}_drgname" />
										<input type="hidden" value="{{v['drg_strength']}}"
											id="{{ v['id'] }}_drgstrength" name="{{ v['id'] }}_drgstrength" />
									</td>
									<td>
										{{ v['qty'] }}
										<input type="hidden" value="{{v['qty']}}" id="{{ v['id'] }}_qty"
											name="{{ v['id'] }}_qty" />
									</td>
									<td>
										<input class="{{kop}}_check" type="checkbox" checked="true"
											id="{{ v['id'] }}_present" id="{{ v['id'] }}_present" />
										<input type="hidden" id="{{v['id']}}_exception"
											name="{{v['id']}}_exception" />
										<input type="hidden" id="exception" name="exception"
											value="{{ v['exception'] }}" />
									</td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>


	</form>
	<!-- EXCEPTION MODAL -->
	<div class="modal" id="exceptionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document" style="width: 800px;">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title" id="exampleModalLabel">Complete Batch</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Complete Status Code:</label>
							<select class="form-control" id="selBatchCompleteCode" name="selBatchCompleteCode"
								required="true">
								{% for c in batch_codes %}
								<option value="{{c['id']}}">{{c['desc']}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<span style="font-weight:bold;">Exception Count: &nbsp;</span><span
								id="exceptionCount"></span><br /><br />
							<table class="table table-striped">
								<thead class="thead-dark">
									<tr>
										<th scope="col">PATIENT</th>
										<th scope="col">DRUG NAME</th>
										<th scope="col">DOSAGE</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody id="exceptionBody">
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
							<button form="processBatch" name="submit" id="submit" type="submit"
								class="btn btn-primary">COMPLETE</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- TEST MODAL -->
	<div class="modal" id="bModal" abindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- BATCH DETAIL MODAL -->
	<div class="modal fade" id="batchModal" tabindex="-1" role="dialog" aria-labelledby="batchModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg " role="document">
			<div class="modal-content">
				<div class="modal-header bg-light">
					<h5 class="modal-title" id="batchModalLabel">BATCH DETAIL -</h5>
				</div>
				<div class="modal-body">
					<table class="table" id="batchTable" name="batchTable">
						<thead class="thead-dark">
							<tr>
								<th scope="col">PATIENT</th>
								<th scope="col">DRG NAME</th>
								<th scope="col">DRG STRENGTH</th>
							</tr>
						</thead>
						<tbody id="batchTableBody" name="batchTableBody">
						</tbody>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelBatchDetail"
						name="btnCancelBatchDetail">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="mTotal" abindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="mTTitle">Expensive Batch Order </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>The current batch has a total cost of ${{ bat_total }} <br />
						<span id="mTMsg"> Please add insurance to this shipment</span>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script id="exception-template" type="text/x-custom-template">
		<option value="0"></option>
	{% for r in exception_codes %}
	<option value="{{r['id']}}">({{r['id']}})-{{r['desc']}}</option>
	{% endfor %}
</script>

	<script type="text/javascript">
				function setShipRefill(code) {
			switch (code) {
				case "G1":
					code = "G1";
					break;
				case "G2":
					code = "G2";
					break;
				case "G3":
					code = "G1";
					break;
				case "G4":
					code = "G2";
					break;
				case "N1":
					code = "G1";
					break;
				case "N2":
					code = "G2";
					break;
				case "N3":
					code = "G1";
					break;
				case "N4":
					code = "G2";
					break;
				case "NS1":
					code = "G1";
					break;
				case "NS2":
					code = "G2";
					break;
				case "NS3":
					code = "G1";
					break;
				case "NS4":
					code = "G2";
					break;
				case "F3":
					code = "FR";
					break;
				case "F3F":
					code = "FRF";
					break;
				default:
					code;
			}
			return code;
		}

		$(document).ready(function () {
			let shipID = localStorage.getItem("ship-id");
			document.getElementById("shipID").innerHTML = "Station ID: " + shipID;
			document.getElementById("ship_id").value = shipID;
		});

		let cbPrint = document.querySelector("input[name=cbPrint ]");
		let cbRefill = document.querySelector("input[name=cbRefill ]");
		let cbMulti = document.querySelector("input[name=cbMulti ]");
		let cbStock = document.querySelector("input[name=cbStock ]");
		let txtBox = document.getElementById('txtBox');
		let txtCustom = document.getElementById('txtCustom');
		let btnSendBox= document.getElementById('btnSendBox');
		let btnFormSubmit = document.getElementById('btnFormSubmit');
		let sel_box = document.getElementById('ddBox');
		let shipCode = document.getElementById('ship');
		let shipOrg = document.getElementById('shipOrg');
		let shipDisCode = document.getElementById('shippingCode');
		let lbCount = document.getElementById('lbCount');
		let labelCount = 0;


		$('#btnFormSubmit').click(function () {
			var sError = document.getElementById('sError');
			var sErrorText = document.getElementById('sErrorText');
			//Printing data check
			if (cbPrint.checked) {
				console.log("Send Print data");
				if (txtBox.value.trim() == "" && sel_box.value == "0") {
					sError.innerHTML = "A Box Size is required";
					sErrorText.innerHTML = "Select from the drop down or scan a box size";
					$('#errModal').modal('show');
					return false;
				}

				let shipID = localStorage.getItem("ship-id") || '';

				if (!shipID || shipID.trim() == '') {
					sError.innerHTML = "A Station ID is required";
					sErrorText.innerHTML = "Contact Bryan Teat or Hank Allen for assitance";
					$('#errModal').modal('show');
					return false;
				}
			}
			// Submit Form
			$('#submit').click();
		});

		btnSendBox.addEventListener('click', function (event) {
			console.log("Send Box");
			event.preventDefault();
			if (txtBox.value.trim() == "" && sel_box.value == "0") {
				sError.innerHTML = "A Box Size is required";
				sErrorText.innerHTML = "Select from the drop down or scan a box size";
				$('#errModal').modal('show');
				return false;
			}
			sendLabel();
		});

		cbPrint.addEventListener('change', function () {
			if (this.checked) {
				enablePrintControls();
			} else {
				disablePrintControls();
			}
		});

		cbRefill.addEventListener('change', function () {
			if (this.checked) {
				shipCode.value = setShipRefill(shipOrg.value);
				shipDisCode.innerHTML = setShipRefill(shipOrg.value);
				cbStock.checked= false;
				txtCustom.value = "Regular Fill";
			} else {
				shipCode.value = shipOrg.value;
				shipDisCode.innerHTML = shipOrg.value;
				txtCustom.value = "";
			}
		});

		cbStock.addEventListener('change', function () {
			if (this.checked) {
				shipCode.value = setShipRefill(shipOrg.value);
				shipDisCode.innerHTML = setShipRefill(shipOrg.value);
				cbRefill.checked = false;
				txtCustom.value = "Stock";
			} else {
				shipCode.value = shipOrg.value;
				shipDisCode.innerHTML = shipOrg.value;
				txtCustom.value = "";
			}
		});

		cbMulti.addEventListener('change', function () {
			if (this.checked) {
				btnFormSubmit.disabled = true;
				btnFormSubmit.classList.toggle('btn-primary');
				btnSendBox.disabled = false;
				cbPrint.checked= false;
				cbPrint.disabled= true;
				enablePrintControls();
			} else {
				btnFormSubmit.disabled = false;
				btnFormSubmit.classList.toggle('btn-primary');
				btnSendBox.disabled = true;
				cbPrint.disabled= false;
				disablePrintControls();
			}
		});

		txtBox.addEventListener('keydown', function (evt) {
			if (evt.which === 13) {
				evt.preventDefault();
				evt.stopPropagation();
				return false;
			}
		});

		txtCustom.addEventListener('keydown', function (evt) {
			if (evt.which === 13) {
				evt.preventDefault();
				evt.stopPropagation();
				return false;
			}
		});

		function sendLabel() {
			let batch_id = $('#batch_id').val();
			let ship_id= $('#ship_id').val();
			let facility = $('#facility').val().split("-")[0].trim();
			let tech= $('#tech').val();
			let bat_total= $('#bat_total').val();
			let box_size = $('#txtBox').val().trim() == "" ? $('#ddBox :selected').text().trim() : $('#txtBox').val().trim();
			let info = $('#txtCustom').val();
			let ship_code = $('#ship').val();
			let username = $('#base_username').val();

			let sql = `EXEC [put_shipment] \n`
			sql += ` @DEL_BAT_ID = ` + batch_id + ` \n`
			sql += ` ,@SHIP_ID = '` + ship_id + `' \n`
			sql += ` ,@FAC_CODE = '` + facility + `' \n`
			sql += ` ,@TECH_ID = '` + tech + `' \n`
			sql += ` ,@SHIP_VALUE = ` + bat_total + ` \n`
			sql += ` ,@BOX_SIZE = '` + box_size + `' \n`
			sql += ` ,@CUSTOM_TEXT = '` + info + `' \n`
			sql += ` ,@SHIP_TYPE = '` + ship_code + `' \n`
			sql += ` ,@SHIP_TECH = '` + username+ `' \n`
			console.log(sql);
			// /*
			$.ajax({
				type: "POST",
				url: "{{url_for('updateFx')}}",
				dataType: 'json',
				data: {
					'sql': sql
				},
				async: false,
				success: function (data) {

				},
				complete: function (data) {
					console.log(data);
					labelCount  += 1;
					let lb = labelCount == 1 ? "Label" : "Labels"
					lbCount.innerHTML = "&nbsp; " + String(labelCount) + " "  + lb  +" sent &nbsp;";

				}
			});
		// */

		}

		function disablePrintControls(){
			txtBox.disabled = true;
			txtCustom.disabled = true;
			sel_box.disabled = true;
			cbRefill.disabled = true;
			cbStock.disabled = true;
		}

		function enablePrintControls() {
			txtBox.disabled = false;
			txtCustom.disabled = false;
			sel_box.disabled = false;
			cbRefill.disabled = false;
			cbStock.disabled = false;
			txtBox.focus();
		}

		function selectAll(kop) {
			if ($('.' + kop + '_check:checkbox').prop('checked')) {
				$('.' + kop + '_check:checkbox').prop('checked', false);
				$('#' + kop + '_toggle:checkbox').prop('checked', false);
			} else {
				$('.' + kop + '_check:checkbox').prop('checked', true);
				$('#' + kop + '_toggle:checkbox').prop('checked', true);
			}
		}

		function exceptionChange(ev) {
			var id = ev.id.split("_")[0];

			$('#' + id + "_exception").val(ev.value);
		}

		$("#selBatchCompleteCode").on('change', function () {
			$('#batch_complete_code').val(this.value);
		});
	</script>
	{% endif %}
	<!-- UTIL MODAL -->
	<div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-danger">
					<h4 class="modal-title">ERROR: <span id="sError"></span></h4>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-sm-10">
							<span id="sErrorText" style=""></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>

			<!-- UTIL MODAL -->
			<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header bg-danger">
							<h5 class="modal-title">ERROR:</h5>
							<button type="button" class="close" id="btnErrorCancel" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<div class="col-sm-10">
									<span id="errorText" style=""></span>
								</div>
							</div>
							<div class="modal-footer">
								<a href="/processing" class="btn btn-light">CANCEL</a>
							</div>
						</div>
					</div>
				</div>

				<script type="text/javascript">
							$('#btnErrorCancel').on('click', function (e) {
						window.location.href = "/processing";
					});

					if ($('#error_tuple').val() != "None") {
						switch ($('#error_tuple').val()) {
							case '404':
								$('#errorText').html(
									"<b>Error Processing Batch(404):</b><br/>  <ul><li>This batch hasn't been processed by a Pharmacist</li><li>This batch has already been processed.</li><li>This batch was notnot found.</li></ul> <b>Please verify the BATCH-ID and try again.</b>"
									);
								break;
							default:
								$('#errorText').html("500: Unknown Server Error.");
						}
					}

					if (parseFloat("{{ bat_total }}") > 999.99) {
						$('#mTotal').modal('show');
						$('#mTTitle').html('Expensive Batch Order ');
						$('#mTMsg').html(' Please add insurance to this shipment');
					}

					if (parseFloat("{{ bat_total }}") == 0) {
						$('#mTotal').modal('show');
						$('#mTTitle').html('<span class="bg-danger px-3" style="color:#ffffff;">Missing Drug Cost</span>');
						$('#mTMsg').html(' Please investigate the issue with cost');
					}

					var d = new Date();
					var n = d.getDay();
					let fac = $('#facility').val().split("-")[0].trim();
					let facs = ['GL', 'GLF'];
					//let facs = ['CK', 'GL', 'GLF'];

					if ( (n > 0 && n < 5) && facs.includes(fac) ) {
						console.log("M-T");
						$('#lbUMT').html('<span class="font-weight-bold bg-danger mr-3 pull-left px-4 " style="color: #ffffff">NO FEDEX ON M-T SEND UPS EARLY AM</span>');
					}

				</script>

				{% if current_user.is_authenticated and session['role'] == 'Administrator' %}
				<script type="text/javascript">
							function get_batch_detail(batch_id) {
						//console.log("Batch ID: " + batch_id)
						$('#batchTableBody').html("");
						$.get("/rx/batch/" + batch_id, function (data, status) {
								//console.log("DEBUG\n"+data);
								$('#batchTableBody').html("");
								console.log(data)
								$.each(data, function (k, v) {
									$('#batchTableBody').html($('#batchTableBody').html() + "<tr><td scope='row'>" + v[
											'name'] + "</td><td>" + v['drg_name'] + "</td><td>" + v['drg_strength'] +
										"</td></tr>");
									console.log(v['drg_name'])
								});
							})
							.fail(function () {
								$('#batchTableBody').html(
									"<tr><td scope='row' colspan='3'>There was an error pulling the batch detail.</td></tr>");
							});

						$('#batchModalLabel').html("BATCH DETAIL - " + batch_id);
						$('#batchModal').modal('show');
					}
				</script>
				{% endif %}
				{% endblock %}